*{
    background-color: gray;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 0;
}

header {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: white;
    background-color: green;
}

.navbar {
    overflow: hidden;
    text-align: right;
    background-color: green;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a{
    display: block;
    color: white;
    background-color: green;
    text-align: right;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.Name{
    float: left;
}

.navbar a:hover {
    background-color: lightgreen;
    color: white;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.side {
    -ms-flex: 30%;
    flex: 30%;
    padding: 20px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

section{
    color: white;
}