*{
    background-color: gray;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 0;
}

header {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: white;
    background-color: green;
}

nav {
    background-color: green;
    
}

nav h1 {
    font-size: 200%;
    text-align: left;
    background-color: green;
}

nav a {
    font-size: 150%;
    background-color: green;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    background-color: green;
    display: flex;
    text-align: left;
    justify-content: right;
    min-width: 100px;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

section{
    color: white;
}