*{
    background-color: gray;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: green;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a{
    float: right;
    display: block;
    color: white;
    background-color: green;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.Name{
    float: left;
}

.navbar a:hover {
    background-color: lightgreen;
    color: white;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.side {
    -ms-flex: 10%;
    flex: 10%;
    padding: 20px;
    color: white;
}

.body {
    
    -ms-flex: 90%;
    flex: 90%;
    padding: 20px;
    color: white;
    
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}